#container {
  width: 1000px;
  height: 1000px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: lightgrey;
}

.cell {
  height: 96px;
  width: 96px;
  background:white;
}

.drawn {
  background: black !important;
}
