.cell {
  background: white;
  border: 1px solid black;
}
#container {
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.drawn {
  background: black !important;
}
